.nav {
    display: block;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.6);
    a {
        display: inline-block;
        padding: 15px;
        color: #FFF;
        text-decoration: none;
        &:hover:after {
            content: "";
            display: block;
            width: 85%;
            height: 3px;
            margin: 0 auto;
            background-color: #FFF;
        }
    }
}

.content {
    width: 95%;
    margin: 90px auto 0 auto;
    h1 {
        width: 95%;
        margin: 20px auto;
        text-align: center;
    }
    .listing_create_link {
        display: inline-block;
        padding: 15px;
        background-color: #0B7FC7;
        color: #FFF;
        text-decoration: none;
        border-radius: 10px;
    }
}


.listing {
    display: flex;
    //margin: 15px auto;
    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        list-style: none;
        li {
            position: relative;
            width: 20%;
            margin: 25px 1% 25px 1%;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            box-shadow: 10px 15px 20px -5px rgba(0, 0, 0, 0.2);
            &:nth-child(5n), &:first-child {
                margin-left: 0;
            }
            &.rented:before {
                content: "Loué";
                position: absolute;
                top: 27px;
                right: -6px;
                display: block;
                width: 80px;
                height: 15px;
                padding: 5px;
                transform: rotate(45deg);
                background-color: green;
                color: #FFF;
                font-weight: 600;
                text-transform: uppercase;
                text-align: center;
                border-radius: 5px;
            }
            h2 {
                margin-top: 0;
            }
            a {
                display: inline-block;
                padding: 10px;
                background-color: #0B7FC7;
                color: #FFF;
                text-decoration: none;
                border-radius: 10px;
            }
        }
    }
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    div {
        width: 80%;
        margin: 0 auto;
    }
    input, label, select, textarea {
        display: block;
        width: 50%;
    }
    label {
        margin: 0 auto;
        font-weight: 600;
    }
    input, textarea, select {
        height: 25px;
        margin: 15px auto;
    }
    button {
        display: block;
        margin: 20px auto;
        padding: 15px;
        background-color: #0B7FC7;
        border: none;
        border-radius: 10px;
        color: #FFF;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
    }
    #user_roles {
        display: flex;
        width: 50%;
        label {
            display: flex;
            align-items: center;
            width: auto;
            margin: 0 10px;
        }
        input {
            width: 20px;
            margin: 15px 0;
        }
    }
}
