{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1>Créer une réservation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
{#    <input type="submit" value="Créer">#}
    {{ form_end(form) }}

{% endblock %}
