{% extends 'base.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
    <h1>Modifier la réservation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
{#    <input type="submit" value="Modifier">#}
    {{ form_end(form) }}

{% endblock %}
