{% extends 'base.html.twig' %}

{% block title %}New TypeVehicule{% endblock %}

{% block body %}
    <h1>Créer un type de véhicule</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
{#        <input type="submit" value="Créer">#}
    {{ form_end(form) }}

{% endblock %}
