{% extends 'base.html.twig' %}

{% block title %}Edit TypeVehicule{% endblock %}

{% block body %}
    <h1>Éditer le type de véhicule </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
{#    <input type="submit" value="Modifier">#}
    {{ form_end(form) }}

{% endblock %}
