{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Créer un utilisateur</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
{#        <input type="submit" value="Créer">#}
    {{ form_end(form) }}
{% endblock %}
