{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.roles) }}
{#        <input type="submit" value="Modifier">#}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
